{% block content %}
  <h2>Team Detail - Team {{ team_id }}</h2>
  
  <!-- Display Team Details -->
  <h3>Team Details</h3>
  <p>Team: {{ team_detail.Team }}</p>
  <p>Won: {{ team_detail.Won }}</p>
  <p>Lose: {{ team_detail.Lose }}</p>
  <!-- Add other team details here -->

  <!-- Display List of Players -->
  <h3>List of Players</h3>
  <ul>
    {% for player in players %}
      <li><a href="{% url 'audience:player_information' player.Id %}">{{ player.Name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
